<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>digital-7-mono.ttf</string>
	</array>
    <key>appConfig</key>
    <dict>
        <key>appCenterAppSecret</key>
        <string>$(APPCENTER_APP_SECRET)</string>
        <key>appGroupName</key>
        <string>$(APP_GROUP_NAME)</string>
        <key>appStoreProductUrl</key>
        <string>$(APP_STORE_PRODUCT_URL)</string>
        <key>contactUsEmail</key>
        <string>$(CONTACT_US_EMAIL)</string>
    </dict>
</dict>
</plist>
