<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>digital-7-mono.ttf</string>
	</array>
	<key>widgetEnvironment</key>
	<dict>
		<key>appGroupName</key>
		<string>$(APP_GROUP_NAME)</string>
		<key>widgetOverlayTitle</key>
		<string>$(WIDGET_OVERLAY_TITLE)</string>
	</dict>
</dict>
</plist>
