#include "Defaults.xcconfig"

// Build/archive settings
MAIN_TARGET_BUNDLE_ID = com.ridgeviewapps.earnings-meter.debug
CODE_SIGN_IDENTITY = Apple Development
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 3H5L23529U

// App environment / Info.plist values
APP_GROUP_NAME = group.com.ridgeviewapps.earnings-meter.debug.sharedData
WIDGET_OVERLAY_TITLE = Debug
